@model IEnumerable<Banding.Core.Models.Entities.MySql.Emprendimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Emprendimientos</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Emprendimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Emprendimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Emprendimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Emprendimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id_Emprendimiento">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id_Emprendimiento">Detalles</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id_Emprendimiento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
