@model Banding.Core.Models.Entities.MySql.Proveedor

@{
    ViewData["Title"] = "Details";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="container">

        <h1>Detalles</h1>

        <div>
            <h4>Proveedor</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreProveedor)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NombreProveedor)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.EMailProveedor)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.EMailProveedor)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Producto)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Producto)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Ruc)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Ruc)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.IdProvinciaNavigation.NombreProvincia)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdProveedor">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</div>