@model Banding.Core.Models.Entities.MySql.Emprendimiento

@{
    ViewData["Title"] = "Details";
}
<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="container">

        <h1>Detalles</h1>

        <div>
            <h4>Emprendimiento</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreEmprendimiento)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NombreEmprendimiento)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DescripcionEmprendimiento)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DescripcionEmprendimiento)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Logo)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.IdCategoriaNavigation.IdCategoria)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdEmprendimiento">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

<partial name="~/Views/Shared/_NavbarStylePartial.cshtml" />
