@model Banding.Core.Models.Entities.MySql.Usuario

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="contenedor-middle">


        <div>
            <hr />
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                            <h3 style="text-align:center;">¿Estás seguro de eliminar el usuario seleccionado?</h3>

                <dl class="row">
                 <div class="col-sm-2"></div>   
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.NombreUsuario)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.NombreUsuario)
                </dd>
                 <div class="col-sm-2"></div>   

                 <div class="col-sm-2"></div>   
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.ApellidoUsuario)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.ApellidoUsuario)
                </dd>
                 <div class="col-sm-2"></div>   

                <div class="col-sm-2"></div>   
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.Celular)
                </dd>
                 <div class="col-sm-2"></div>   

                <div class="col-sm-2"></div>   
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.EMail)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.EMail)
                </dd>
                <div class="col-sm-2"></div> 

                <div class="col-sm-2"></div> 
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <div class="col-sm-2"></div> 

                <div class="col-sm-2"></div> 
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Contrasena)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.Contrasena)
                </dd>
                <div class="col-sm-2"></div> 

                <div class="col-sm-2"></div> 
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.IdEmprendimientoNavigation)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.IdEmprendimientoNavigation.IdEmprendimiento)
                </dd>
                <div class="col-sm-2"></div> 

                <div class="col-sm-2"></div> 
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.IdProvinciaNavigation.NombreProvincia)
                </dd>
                <div class="col-sm-2"></div> 

                <div class="col-sm-2"></div> 
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Rol)
                </dt>
                <dd class = "col-sm-4">
                    @Html.DisplayFor(model => model.Rol.NombreRol)
                </dd>
                <div class="col-sm-2"></div> 

            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdUsuario" />
                <input type="submit" value="Eliminar" class="btn btn-dark" style="margin-left: 60px" /> |
                <a class="btn btn-dark" asp-action="Index">Regresar</a>
            </form>

                </div>
                <div class="col-2"></div>
            </div>

        </div>



    </div>
</div>

<partial name="~/Views/Shared/_NavbarStylePartial.cshtml" />