@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common


@model IPagedList<Banding.Core.Models.Entities.MySql.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a class="btn btn-dark"  asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdEmprendimientoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdProvinciaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmprendimientoNavigation.IdEmprendimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.NombreProvincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.NombreRol)
            </td>
            <td>
                <a class="btn btn-dark"  asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a class="btn btn-dark"  asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a class="btn btn-dark"  asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@Html.PagedListPager((IPagedList)Model, page => 
    Url.Action("Index", new { page = page }), 
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})