@model IEnumerable<Banding.Core.Models.Entities.MySql.Factura_Cabecera>

@{
    ViewData["Title"] = "Index";
}

<h1>Cabecera Factura</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Cabecera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nro_Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva_Cero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Cabecera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nro_Factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva_Cero)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id_Cabecera">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id_Cabecera">Detalles</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id_Cabecera">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
