@model Banding.Core.Models.Entities.MySql.Producto

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="contenedor-middle">


        <h1>Eliminar</h1>

        <h3>¿Estás seguro de eliminar el producto seleccionado?</h3>
        <div>
            <h4>Producto</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.NombreProducto)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NombreProducto)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioFabricacion)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.PrecioFabricacion)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Foto)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaCaducidad)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.FechaCaducidad)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioVenta)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.PrecioVenta)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Iva)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Iva)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.StockMinimo)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StockMinimo)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.IdEmprendimientoNavigation.NombreEmprendimiento)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdEmprendimientoNavigation.NombreEmprendimiento)
                </dd class>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdProducto" />
                <input type="submit" value="Eliminar" class="btn btn-dark" /> |
                <a class="btn btn-dark" asp-action="Index">Regresar</a>
            </form>
        </div>


    </div>
</div>

<partial name="~/Views/Shared/_NavbarStylePartial.cshtml" />
