@model IEnumerable<Banding.Core.Models.Entities.MySql.Roles>

@{
    ViewData["Title"] = "Index";
}

<div class="container-xxl hero-header" style="padding-bottom:0px">
    <div class="container">

        <h1>Roles</h1>

        <p>
            <a asp-action="Create">Crear</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreRol)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreRol)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRol">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRol">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRol">Eliminar</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </div>
</div>