@model BD.Web.Data.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
    </dl>
</div>
<div>
    <a  class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id_Usuario">Edit</a> |
    <a  class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
