@model Banding.Core.ViewModels.UsuarioEmprendimientoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Usuario</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Id_Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Nombre_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Apellido_Usuario)
            </th>
            <th>
                Emprendimientos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().E_Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.First().Contrasena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var (item, index) in Model.Usuarios.Select((value, i) => (value,i))) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Usuario)
            </td>
            <td>
                
                @foreach (var (nombre, i) in Model.EmprendimientosUsuario[index].Select((value, i) => (value,i)))
                {
                    @Html.DisplayFor(modelItem => nombre);
                    if(i!= Model.EmprendimientosUsuario[index].Count-1)
                    {
                        <label>, </label>
                    }                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id_Usuario">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id_Usuario">Detalles</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id_Usuario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
