@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Banding.Core.Models.Entities.MySql.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorías</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre_Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Categoria)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id_Categoria">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id_Categoria">Detallas</a> |
                <a class="btn btn-dark"  asp-action="Delete" asp-route-id="@item.Id_Categoria" >Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => 
    Url.Action("Index", new { page = page }), 
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})